@font-face {
  font-family: "HankenGrotesk";
  src: url("@fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype-variations");
}

:root {
  font-size: 18px;
}

:root {
  --clr-pale-blue: hsl(221, 100%, 96%);
  --clr-light-lavender: hsl(241, 100%, 89%);
  --clr-dark-gray-blue: hsl(224, 30%, 27%);
  --hsl-code-light-red: 0, 100%, 67%;
  --hsl-code-orangey-yellow: 39, 100%, 56%;
  --hsl-code-green-teal: 166, 100%, 37%;
  --hsl-code-cobalt-blue: 234, 85%, 45%;
}

body {
  font-family: "HankenGrotesk", sans-serif;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 0 2rem;
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    padding-left: 0;
    padding-right: 0;
  }
}

.result {
  padding: 3rem 2.5rem;
  background-image: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  color: var(--clr-light-lavender);

  // make a gap between elements except the first and last
  & > *:not(:last-child):not(:first-child) {
    margin-top: 2rem;
  }

  &--heading {
    font-variation-settings: "wght" 600;
  }

  &--status {
    color: white;
    font-size: 1.25rem;
    font-variation-settings: "wght" 600;
  }

  &--text {
    line-height: 1.25;
    margin-top: 1rem;
    font-size: 1rem;
    font-variation-settings: "wght" 400;
  }

  &--circle {
    display: grid;
    place-content: center;
    margin-inline: auto;
    gap: 0.5rem;
    // show the gradient of top 75% of the image
    background-image: linear-gradient(
      to bottom,
      hsla(256, 72%, 46%, 1),
      hsla(241, 72%, 46%, 0)
    );
    border-radius: 50%;
    height: 8rem;
    aspect-ratio: 1/1;

    &__big {
      display: block;
      color: white;
      font-size: 3rem;
      font-weight: 800;
    }
    &__small {
      font-size: 1rem;
      opacity: 0.65;
      font-variation-settings: "wght" 500;
    }
  }
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1.5rem;
  &--heading {
    font-variation-settings: "wght" 500;
  }
}

.flex-container {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.flex-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 1rem;
  border-radius: 10px;

  .text {
    font-size: 1rem;
    font-variation-settings: "wght" 500;
  }

  $opacity: 0.075;
  &.reaction {
    background-color: hsl(var(--hsl-code-light-red), $opacity);
    .text {
      color: hsl(var(--hsl-code-light-red));
    }
  }
  &.memory {
    background-color: hsl(var(--hsl-code-orangey-yellow), $opacity);
    .text {
      color: hsl(var(--hsl-code-orangey-yellow));
    }
  }
  &.verbal {
    background-color: hsl(var(--hsl-code-green-teal), $opacity);
    .text {
      color: hsl(var(--hsl-code-green-teal));
    }
  }
  &.visual {
    background-color: hsl(var(--hsl-code-cobalt-blue), $opacity);
    .text {
      color: hsl(var(--hsl-code-cobalt-blue));
    }
  }

  span {
    margin-left: auto;
  }
}

.attribution {
  text-align: center;
}
