@font-face {
  font-family: "HankenGrotesk";
  src: url("@fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype-variations");
}

:root {
  --clr-pale-blue: hsl(221, 100%, 96%);
  --clr-light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

body {
  font-family: "HankenGrotesk", sans-serif;
  font-size: 18px;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 0 2rem;
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    padding-left: 0;
    padding-right: 0;
  }
}

.result {
  padding: 3rem 1.5rem;
  background-image: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  color: var(--clr-light-lavender);

  // make a gap between elements except the first and last
  & > *:not(:last-child):not(:first-child) {
    margin-top: 2rem;
  }

  &--heading {
    font-variation-settings: "wght" 600;
  }

  &--status {
    color: white;
    font-variation-settings: "wght" 600;
  }

  &--text {
    margin-top: 1rem;
    font-variation-settings: "wght" 400;
  }

  &--circle {
    display: grid;
    place-content: center;
    margin-inline: auto;
    gap: 1rem;
    // show the gradient of top 75% of the image
    background-image: linear-gradient(
      to bottom,
      hsla(256, 72%, 46%, 1),
      hsla(241, 72%, 46%, 0)
    );
    border-radius: 50%;
    height: 10rem;
    aspect-ratio: 1/1;

    &__big {
      display: block;
      color: white;
      font-size: 3.25rem;
      font-weight: 800;
    }
    &__small {
      opacity: 0.65;
      font-variation-settings: "wght" 500;
    }
  }
}

.attribution {
  text-align: center;
}
